body{   
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(24, 44, 56);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
}

h1, h2, h3{
    font-weight: 300;
}

h2, h3{
    margin: 0;
}